build/
bin/
lib/
out/
.cache/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb

CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake_install.cmake
install/
CPackConfig.cmake
CPackSourceConfig.cmake

vcpkg_installed/
vcpkg/

.vs/
*.user
*.userosscache
*.sln
*.vcxproj
*.filters